
@{
    ViewBag.Title = "Báo cáo cần duyệt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/datatable")



<div class="card card-secondary">
    <div class="filter">
        <label for="selectedSemester" class="col-sm-3 col-form-label">Học kỳ</label>
        <div class="col-sm">
            <div class="input-group input-group-sm">
                <select class="form-control select2bs4" id="selectedSemester" onchange="LoadReportData()">
                </select>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="loading" class="text-center" style="display: none">
            <i class="fas fa-3x fa-circle-notch fa-spin"></i>
            <p>Đang tải dữ liệu, vui lòng đợi</p>
        </div>
        <div id="mainGroup">
            <table id="result" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Loại báo cáo</th>
                        <th>Tiêu đề</th>
                        <th>Gửi bởi</th>
                        <th>Học sinh</th>
                        <th>Ngày gửi</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var linkInfo = '@Url.Action("Info", "Report")';
    var _ID_SEMESTER = @ViewBag.IdSemester;
</script>

@section scripts {
    @Scripts.Render("~/js/datatable")
    <script src="~/Assests/Admin/js/pages/ListReviewReport.js"></script>
}