.attendance0 {
    background-color: dodgerblue;
    color: dodgerblue
}

.attendance1 {
    background-color: orange;
    color: orange;
}

.attendance2 {
    background-color: red;
    color: red;
}
