
@{
    ViewBag.Title = "Cổng quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content px-2">
    <h4>Chào mừng bạn đến cổng quản trị</h4>
    <h5>Vui lòng chọn chức năng ở menu bên trái để sử dụng</h5>
</div>