<link href="~/Assests/Student/css/uploadfilebox.css" rel="stylesheet" />

<div class="form-group files">
    <label>Minh chứng (nếu có)</label>
    <input type="file" class="form-control" id="files" name="files" multiple="">
</div>