<a href="#" onclick="OpenInfoModal()" class="btn btn-sq-lg btn-success">
    <i class="fa fa-info fa-3x"></i><br />
    Đổi thông tin cá nhân
</a>
<a href="#" onclick="OpenPasswordModal()" class="btn btn-sq-lg btn-success">
    <i class="fa fa-unlock-alt fa-3x"></i><br />
    Đổi mật khẩu
</a>
<a href="@Url.Action("Index", "Logout")" class="btn btn-sq-lg btn-danger">
    <i class="fas fa-sign-out-alt fa-3x"></i><br />
    Thoát
</a>