<div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-lg">
        <div id="uploadLoading" class="text-center text-white" style="display: none">
            <i class="fas fa-3x fa-circle-notch fa-spin"></i>
            <p>Đang lưu dữ liệu, vui lòng đợi</p>
        </div>

        <div class="modal-content" id="uploadMainGroup">
            <div class="modal-header">
                <h4 class="modal-title">Nhập thời khoá biểu từ excel</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="excelFile">Chọn tệp excel</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="excelFile">
                            <label class="custom-file-label" for="excelFile">Chọn tệp excel</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Huỷ bỏ</button>
                <a role="button" class="btn btn-outline-primary" href="~/Assests/Data/ImportTimeline.xlsx">Tải file mẫu</a>
                <button type="button" class="btn btn-primary" onclick="ImportFile()">Nhập</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>