
@{
    ViewBag.Title = "Thời khoá biểu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card card-secondary">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <label for="selectedSemester" class="col-sm-2 col-form-label">Học kỳ</label>
                    <div class="col-sm">
                        <div class="input-group input-group-sm">
                            <select class="form-control select2bs4" id="selectedSemester" onchange="LoadClassBySemesterId()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <label for="selectedClass" class="col-sm-2 col-form-label">Xem lớp</label>
                    <div class="col-sm">
                        <div class="input-group input-group-sm">
                            <select class="form-control select2bs4" id="selectedClass" onchange="LoadTimelineByClassId()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div id="loading" class="text-center" style="display: none">
            <i class="fas fa-3x fa-circle-notch fa-spin"></i>
            <p>Đang tải dữ liệu, vui lòng đợi</p>
        </div>
        <div id="mainGroup">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <label for="selectedDate" class="col-sm-2 col-form-label">Xem tuần</label>
                        <div class="col-sm">
                            <div class="input-group input-group-sm">
                                <select class="form-control" id="selectedDate" onchange="LoadTimelineData()">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                @if (GMAH.Web.Helpers.SessionHelper.IsAdmin())
                {
                    <div class="col text-right">
                        <button class="btn btn-danger btn-flat"
                                onclick="DeleteTimeline()">
                            <i class="fas fa-cloud-download-alt"></i>
                            Xoá toàn bộ thời khoá biểu
                        </button>
                        <button class="btn btn-primary btn-flat"
                                id="btnImportExcel"
                                onclick="OpenModalImportTimeline()">
                            <i class="fas fa-file-excel"></i>
                            Nhập thời khoá biểu bằng file
                        </button>
                    </div>
                }

            </div>

            <div id="timelineData" style="padding-top: 10px">

            </div>
        </div>
    </div>
</div>

<script>
    var _ID_SEMESTER = @ViewBag.IdSemester;
    var _ID_CLASS = @ViewBag.IdClass;
</script>

@Html.Partial("_ModalUploadFile")

@section scripts {
    <script src="~/Assests/Admin/js/pages/TimelineClass.js"></script>
    <script src="~/Assests/Admin/js/pages/TimelineTable.js"></script>
    <script src="~/Assests/Admin/js/pages/ImportTimeline.js"></script>
}